<main class="mt-5 pt-3">
	<div class="mt-5 container-fluid py-4">
		<div class="col-sm-10 col-lg-8 col-xl-6 col-xxl-4 mx-auto">
			<div class="bd-wrap-tinn">
				<div class="bd-tinn">
					<h2 class="headerText-tinn">Chi tiết giao dịch rút tiền</h2>
					<table  class="table table-borderless ">
                        <tr>
                            <td>
                                <label  class="form-label">Tài khoản:</label>
                            </td>
                            <td>
                                <p class="fw-bold">3124234</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label  class="form-label">Số điện thoại:</label>
                            </td>
                            <td>
                                <p class="fw-bold">0123456789</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label  class="form-label">Số thẻ tín dụng:</label>
                            </td>
                            <td>
                                <p class="fw-bold">1111111</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="form-label">Ngày giao dịch:</label>
                            </td>
                            <td>
                                <p class="fw-bold">11/11/1111</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="form-label">Số tiền:</label>
                            </td>
                            <td>
                                <p class="fw-bold">1.000.000</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="form-label">Phí giao dịch:</label>
                            </td>
                            <td>
                                <p class="fw-bold">50.000</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="form-label">Trạng thái:</label>
                            </td>
                            <td>
                                <p class="fw-bold">Thành công</pc>
                            </td>
                        </tr>
                    </table>

				</div>
			</div>
		</div>

	</div>

