/* --------------------------------- ADMIN ------------------------------------- */
:root {
    --aside-text-color: #a6aab4;
    --text-color: #333;
    --header-height: 60px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f6fa;
}

/* GENERAL */
.pl-26-px {
    padding-left: 26px;
}

.pl-12-px {
    padding-left: 12px;
}

.px-32-px {
    padding-left: 32px;
    padding-right: 32px;
}

.pr-17-px {
    padding-right: 17px;
}

.fs-14-px {
    font-size: 14px;
}

.height-100-vh {
    height: 100vh !important;
}

.height-100-percent {
    height: 100%;
}

.cursor-pointer {
    cursor: pointer;
}

.text-color {
    color: var(--text-color);
}

.font-size-16px {
    font-size: 16px;
}

a:hover {
    text-decoration: none;
}

li {
    list-style: none;
}

.position-relative {
    position: relative;
}

header {
    height: var(--header-height);
}

/* SIDEBAR */
.custom-badge {
    background-color: #545b62;
}

.custom-badge:hover {
    background-color: #6c757d;
}

.aside-text-color {
    color: var(--aside-text-color);
}

/* RIGHT CONTENT */
.list-content {
    height: 360px;
    overflow-y: auto;
    overflow-x: hidden;
}

/* ------------------------------ CLIENT --------------------------------- */
.form-container {
    font-family: "Roboto", sans-serif;
    padding: 0 20px 20px 0;
}

.form-container .form-horizontal {
    background: repeating-linear-gradient(
        45deg,
        #fff,
        #fff 10px,
        #f9f9f9 10px,
        #f9f9f9 20px
    );
    padding: 70px 40px 40px;
    border-radius: 0;
    border: 2px solid rgba(0, 0, 0, 0.1);
    box-shadow: 20px 20px 0 rgba(0, 0, 0, 0.1);
    position: relative;
}

.form-horizontal .title {
    color: #222;
    font-size: 60px;
    font-weight: 500;
    margin: 0 0 8px 0;
}

.form-horizontal .description {
    color: #222;
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 30px 0;
    display: block;
}

.form-horizontal .form-group {
    margin: 0 0 30px;
}

.form-horizontal .form-group:nth-child(3) {
    margin-bottom: 20px;
}

.form-horizontal .form-control {
    color: #446dca;
    font-size: 16px;
    letter-spacing: 1px;
    height: 40px;
    padding: 2px 15px;
    border: 1px solid #e7e7e7;
    border-top-width: 2px;
    border-left-width: 2px;
    box-shadow: none;
    border-radius: 0;
    transition: all 0.3s ease 0s;
}

.form-horizontal .form-control:focus {
    box-shadow: none;
    border-color: #446dca;
}

.form-horizontal .form-control::placeholder {
    color: #222;
    font-size: 15px;
}

.form-horizontal .btn {
    color: #fff;
    background-color: #446dca;
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    width: 180px;
    padding: 10px 30px;
    margin: 0 25px 0 0;
    border-radius: 30px;
    border: none;
    display: inline-block;
    overflow: hidden;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease 0s;
}

.form-horizontal .btn:hover,
.form-horizontal .btn:focus {
    color: #fff;
    background-color: #222;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    outline: none;
}

.form-horizontal .btn:after {
    content: "";
    height: 70%;
    width: 110%;
    border-top: 5px solid #fff;
    border-bottom: 5px solid #fff;
    transform: rotate(-50deg);
    position: absolute;
    right: -105px;
    top: -65px;
    transition: all 0.5s ease 0s;
}

.form-horizontal .btn:hover:after {
    right: -70px;
    top: -30px;
}

.form-horizontal .signup {
    color: #222;
    font-size: 18px;
    font-weight: 600;
    vertical-align: text-top;
    text-decoration: none;
    display: inline-block;
}

.form-horizontal .signup a {
    color: #446dca;
    transition: all 0.3s ease 0s;
}

.form-horizontal .signup a:hover {
    color: #000;
}

.form-horizontal .forgot {
    color: #446dca;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    display: block;
}

.form-horizontal .forgot a {
    color: #446dca;
    transition: all 0.3s ease 0s;
}

.form-horizontal .forgot a:hover {
    color: #222;
}

@media only screen and (max-width: 479px) {
    .form-container .form-horizontal {
        padding-left: 20px;
        padding-right: 20px;
    }
    .form-horizontal .title {
        font-size: 55px;
    }
    .form-horizontal .description {
        font-size: 16px;
    }
    .form-horizontal .form-control::placeholder {
        font-size: 14px;
    }
    .form-horizontal .btn {
        display: block;
        margin: 0 auto 20px;
    }
    .form-horizontal .signup {
        text-align: center;
        margin: 0 auto 20px;
        display: block;
    }
    .form-horizontal .forgot {
        text-align: center;
    }
}

.form-bg {
    padding: 50px 0px;
    height: 100vh;
    background: radial-gradient(circle, #eeaeca 0%, #94bbe9 100%);
}
