<header class="bg-white d-flex justify-content-between px-32-px align-items-center">
    <img src="https://logos-world.net/wp-content/uploads/2020/06/Real-Madrid-Logo.png" alt=""
        width="100px" />

    <div class="dropdown">
        <span class="dropdown-toggle cursor-pointer" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <b style="color: #3d3d3d;">Nguyễn Thế Trường</b>
        </span>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Thông tin</a>
            <a class="dropdown-item" href="#">Cài đặt</a>
            <a class="dropdown-item" href="#">Tùy chỉnh</a>
            <a class="dropdown-item" href="#">Đăng xuất</a>
        </div>
    </div>
</header>