<aside class="col-2 pt-5" style="background-color: #3d3d3d">
    <ul class="">
        <li class="">
            <span class="font-size-16px font-weight-bold badge py-2 badge-dark d-block"
                style="color: #ffd154"><i class="fa-solid fa-user-group"></i> TÀI
                KHOẢN</span>
            <ul class="pl-18-px">
                <li class="mt-2">
                    <a class="fs-14-px badge py-2 custom-badge" style="color: #ffd154"
                        href="/admin/accounts/waiting-active-accounts"><i
                            class="fa-solid fa-user-clock mr-1"></i> ĐANG CHỜ KÍCH HOẠT</a>
                </li>
                <li class="mt-2">
                    <a class="fs-14-px badge py-2 custom-badge" style="color: #ffd154"
                        href="/admin/accounts/activated-accounts"><i
                            class="fa-solid fa-user-check mr-1"></i> ĐÃ KÍCH HOẠT</a>
                </li>
                <li class="mt-2">
                    <a class="fs-14-px badge py-2 custom-badge" style="color: #ffd154"
                        href="/admin/accounts/locking-accounts"><i
                            class="fa-solid fa-user-lock mr-1"></i> ĐANG BỊ KHÓA</a>
                </li>
                <li class="mt-2">
                    <a class="fs-14-px badge py-2 custom-badge" style="color: #ffd154"
                        href="/admin/accounts/nullified-accounts"><i
                            class="fa-solid fa-user-xmark mr-1"></i> ĐÃ BỊ VÔ HIỆU HÓA</a>
                </li>
            </ul>
        </li>
        <li class="mt-4">
            <span class="font-size-16px font-weight-bold badge py-2 badge-dark d-block"
                style="color: #ffd154"><i class="fa-solid fa-money-bill-transfer"></i>
                GIAO DỊCH</span>

            <ul class="pl-18-px">
                <li class="mt-2">
                    <a class="fs-14-px badge py-2 custom-badge" style="color: #ffd154"
                        href="/admin/transactions/waiting-approve-transactions"><i
                            class="fa-solid fa-triangle-exclamation mr-1"></i> ĐANG CHỜ DUYỆT</a>
                </li>
                <li class="mt-2">
                    <a class="fs-14-px badge py-2 custom-badge" style="color: #ffd154"
                        href="/admin/transactions/approved-transactions"><i
                            class="fa-solid fa-square-check mr-1"></i> ĐÃ DUYỆT</a>
                </li>
                <li class="mt-2">
                    <a class="fs-14-px badge py-2 custom-badge" style="color: #ffd154"
                        href="/admin/transactions/canceled-transactions"><i
                            class="fa-solid fa-circle-xmark mr-1"></i> ĐÃ HỦY</a>
                </li>
            </ul>
        </li>
    </ul>
</aside>