<div class="offcanvas offcanvas-start sidebar-nav bg-dark" tabindex="-1" id="sidebar">
	<div class="offcanvas-body p-0">
		<nav class="navbar-dark">
			<ul class="navbar-nav">
				<li>
					<div class="text-muted small mt-2 fw-bold text-uppercase px-3">
						Người dùng
					</div>
				</li>
				<li>
					<a href="/user/accounts" class="nav-link nav-link-custom px-3 active">
						<span>Tên</span>
					</a>
				</li>
				<li class="my-4">
					<hr class="dropdown-divider bg-light" />
				</li>
				<li>
					<div class="text-muted small fw-bold text-uppercase px-3 mb-3">
						Chức năng
					</div>
				</li>
				<li class="nav-item">
					<a href="/user/transactions/deposit" class="nav-link nav-link-custom px-3">

						<i class="fa-regular fa-credit-card"></i>
						<span>Nạp tiền</span>
					</a>
				</li>
				<li class="nav-item">
					<a href="/user/transactions/withdraw" class="nav-link nav-link-custom px-3">

						<i class="fa-solid fa-sack-dollar"></i>
						<span>Rút tiền</span>
					</a>
				</li>
				<li class="nav-item">
					<a href="/user/transactions/transfer" class="nav-link nav-link-custom px-3">
						<i class="fa-solid fa-money-bill-transfer"></i>
						<span>Chuyển tiền</span>
					</a>
				</li>
				<li class="nav-item">
					<a href="/user/transactions/buy-phone-card" class="nav-link nav-link-custom px-3">

						<i class="fa-solid fa-sim-card"></i>
						<span>Mua thẻ điện thoại</span>
					</a>
				</li>
				<li class="nav-item">
					<a href="/user/transactions/history" class="nav-link nav-link-custom px-3">
						<i class="far fa-calendar-alt"></i>
						<span>Lịch sử giao dịch</span>
					</a>
				</li>
				<li class="my-4">
					<hr class="dropdown-divider bg-light" />
				</li>
			</ul>
		</nav>
	</div>
</div>