
<div class="register_form">
    <div id="register">
            <h3 class="text-center text-white pt-3">ELECTRONIC WALLET</h3>
            <div class="container">
                <div id="register-row" class="row justify-content-center align-items-center">
                    <div id="register-column" class="col-md-6">
                        <div id="register-box" class="col-md-12">
                            <form id="register-form" class="form" action="" method="post">
                                <h3 class="text-center text-info">Register</h3>
                                <div class="form-group">
                                    <label for="phone" class="text-info">Phone</label><br>
                                    <input type="text" name="phone" id="phone" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="email" class="text-info">Email</label><br>
                                    <input type="text" name="email" id="email" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="name" class="text-info">Name</label><br>
                                    <input type="text" name="name" id="name" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="birthday" class="text-info">Birthday</label><br>
                                    <input type="text" name="birthday" id="birthday" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="address" class="text-info">Address</label><br>
                                    <input type="text" name="address" id="address" class="form-control">
                                </div>
                                
                                <div class="form-group">
                                    <input type="submit" name="register" class="btn btn-info btn-md" value="register">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>