<div class="form-bg">
  <div class="container">
    <div class="row text-center justify-content-center align-self-center">
      <div class="col-lg-6 col-md-offset-3 col-md-8 col-sm-offset-2 col-sm-10">
        <div class="form-container">
          <form class="form-horizontal">
            <h3 class="title mb-3">Đăng kí</h3>
            <div class="form-group">
              <input class="form-control" type="tel" placeholder="Phone" name="phone"/>
            </div>
            <div class="form-group">
              <input class="form-control" type="email" placeholder="Email" name="email"/>
            </div>
            <div class="form-group">
              <input class="form-control" type="text" placeholder="Name" name="name"/>
            </div>
             <div class="form-group">
              <input class="form-control" type="date" placeholder="Birthday" name="birthday"/>
            </div>
             <div class="form-group">
              <input class="form-control" type="text" placeholder="Address" name="address"/>
            </div>
            <button class="btn signin">Register</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
