<div class="form-bg">
  <div class="container">
    <div class="row text-center justify-content-center align-self-center">
      <div class="col-lg-6 col-md-offset-3 col-md-8 col-sm-offset-2 col-sm-10">
        <div class="form-container">
          <form class="form-horizontal">
            <h3 class="title mb-3">Đăng Nhập</h3>
            <div class="form-group">
              <input
                class="form-control"
                type="email"
                placeholder="Enter your Username"
              />
            </div>
            <div class="form-group">
              <input
                class="form-control"
                type="password"
                placeholder="Enter your Password"
              />
            </div>
            <button class="btn signin">Login</button>
            <span class="signup">or <a href="#">Sign up</a></span>
            <span class="forgot"><a href="">Forgot Password?</a></span>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>