{{! container }}
<div class="container p-4">

	<div class="alert alert-warning text-center" role="alert">
		<h2>Bạn chưa xác minh tài khoản , vui lòng chờ xác minh tài khoản để mở
			chức năng này,nhấn vào đây<a href="/accounts" class="alert-link">
				Quay lại</a></h2>

	</div>

</div>