<main class="mt-5 pt-3">
	<div class="mt-5 container-fluid py-4">
		<div class="col-12 col-lg-10 col-xxl-8 mx-auto">
			<div class="bd-wrap-tinn">

				<div class="bd-tinn">
					<h2 class="headerText-tinn">Nạp tiền</h2>
					<form action="/transactions/deposit" method="post">
						<div class="mb-3">
							<label class="form-label">Số thẻ</label>
							<input type="text" name="cardNumber" class="form-control" id="cardNumber" />
						</div>
						<div class="row g-3 mb-3">
							<div class="col-sm">
								<label class="form-label">Ngày hết hạn</label>
								<input type="date" name="cardExpirationDate" id="cardExpirationDate" class="form-control" {{! aria-label="State" }} />
							</div>
							<div class="col-sm">
								<label class="form-label">CVV</label>
								<input type="text" class="form-control" id="cvv" name="cvv" />
							</div>
							<div class="mb-3">
								<label for="userName" class="form-label">Số tiền</label>
								<input type="number" name="price" class="form-control" id="price" min="0" value="0" placeholder="" />
							</div>
						</div>
						<div class="d-grid gap-2">
							<button class="btn btn-primary" type="submit" id="btn-deposit" value="Submit">Hoàn tất</button>
						</div>
					</form>

				</div>
			</div>
		</div>

	</div>

</main>