<main class="mt-5 pt-3">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 mb-3">
				<div class="d-flex justify-content-center">
					<div class="card col-md-8 col-xl-4 col-sm-12 col-xs-12">
						<div class="card-header">
							<span><i class="bi bi-table me-2"></i></span>
							Nạp tiền vào tài khoản
						</div>
						<div class="card-body">
							<form action="mb-3" action="/transactions/deposit" method="POST">
								<div class="mb-3">
									<label for="exampleFormControlInput1" class="form-label">Số thẻ tín dụng</label>
									<input type="email" class="form-control" placeholder="" />
								</div>
								<div class="mb-3">
									<label for="exampleFormControlInput1" class="form-label">Ngày hết hạn</label>
									<input type="date" class="form-control" />
								</div>
								<div class="mb-3">
									<label for="exampleFormControlInput1" class="form-label">Mã CVV</label>
									<input type="password" class="form-control" placeholder="" />
								</div>
								<div class="mb-3">
									<label for="exampleFormControlInput1" class="form-label">Số tiền nạp</label>
									<input type="number" class="form-control" value="0" min="0" />
								</div>
								<div class="mb-3">

									<button type="submit" class="btn btn-primary">Nạp tiền</button>
								</div>
							</form>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</main>